html {
    scroll-behavior: smooth;
}
#scroll_top {
    position: absolute;
    top: 1815px;
    right: 10px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    
    &_link {
        position: relative;
        padding: 10px;
        font-size: 15px;
        top: 3.5px;
        right: 3.5px;
    }
}