@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap');
@import "mixin.scss";
@import "variable.scss";
@import "loader.scss";
/*===========================*/
body, html {
    margin: 0px;
    padding: 0px;
}
p {
    font-family: 'Roboto', sans-serif;
}
a {
    @include href-modif;
}
#saut_ligne {
    display: none;
}
/*============= agencement de la partie header contenant le logo =================*/

#container__logo {
    display: flex;
    justify-content: center;
    &__back__arrow {
        position: relative;
        top: 20px;
        right: 70px;
     }
     &__logo {
        width: 162px;
        &__img {
            background: url(../img/ohmyfood@2x.svg);
            background-size: cover;
            width: 100%;
            height: 28px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
}
/*=========== agencement localisation  =============*/
#container_localisation {
    display: flex;
    justify-content: center;
    background: #e4e2e2;
    box-shadow: inset 5px 18px 10px -22px;
}
/*============= agencement du bloc reservation =============*/
#bouton{
    display: flex;
    justify-content: center;
    &__explorer {
        padding: 15px;
        border-radius: 30px;
        background: $color-mix;
        box-shadow: 0px 5px 14px -7px;
        border: none;
        width: 215px;
        cursor: pointer;
        &:hover {
            @include hover-btn;
        }
        &__texte {
           @include texte-btn-custom;
        }
    }
}
#container1 {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    height: 280px;
    &_reservation {
        margin: 10px 30px 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            text-align: center;
        }
    }
}
#faux_titre {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: -10px;
}
/*========= agencement du bloc fonctionnement  ================*/
#container2 {
    height: 355px;
    &_title {
        padding: 30px 0px 0px 20px;
        font-size: 22px;
        font-weight: 600;
    }
    &_fonctionnement {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
.dot {
  height: 25px;
  width: 25px;
  background-color: $color-primary;
  border-radius: 50%;
  display: inline-block;
}
#dot1, #dot2, #dot3 {
    @include dot-modif;
}
#num_1, #num_2, #num_3 {
    @include num-modif;
}
#icon_mobile, #icon_list, #icon_store {
    margin: $margin-modif;
}
#icon_mobile i, #icon_list {
    color: $color-icon;
}
#icon_store {
    color:$color-primary;
}
.nav_fonctionnement {
    border-radius: 15px 15px 15px 15px;
    width: 90%;
    height: 65px;
    display: flex;
    background: #f2f2f2;
    border: none;
    box-shadow: 0px 7px 18px -14px;
    p {
        margin-top: 25px;
    }
}
//agencement bloc restauration + img + entrees
#container3 {
    background: #f2f2f2;
    height: 1095px;
    &_parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        >.container3_enfants {
            position: relative;
            box-shadow:  0px 2px 11px -6px;
            border-radius: 15px 15px 15px 15px;
            background: white;
            width: 90%;
        }
    }
}

#restau_title2{
    padding: 50px 0px 0px 20px;
    font-size: 22px;
    font-weight: 600;
}
.restau_text {
    p {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px 0px 10px;
    }
    >.texte_gras2 {
        font-weight: 600;
        margin-bottom: -20px;
        >.restau_hearticon {
            font-size: 25px;
        }
    }
}
// heart icon modification

.fa-heart {
    font-size: 25px;
  }
  
  .heart {
    position: relative;
    top: 6px;
    z-index: 1;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
  }
  
  .heart-color {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: $color-mix;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: .8s ease;
  }
  
  .heart:hover {
    .heart-color {
      transform: scale(1);
      opacity: 1;
    }
  
    background: $color-mix;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
  }

/*=========================*/
.nouveau {
    @include text-new;
    font-family: 'Roboto', sans-serif;
    p {
        margin: 0px;
    }
}
// agencement page d'accueil img 
#restau_img1 {
    background: url(../img/first.jpg);
    @include modif-img-homepage;
    background-position: center;
 }
 #restau_img2 {
    background: url(../img/second.jpg);
    background-position: 0px -130px;
    @include modif-img-homepage;
 }
 #restau_img3 {
    background: url(../img/third.jpg);
    background-position: 0px -46px;
    @include modif-img-homepage;
 }
#restau_img4 {
    background: url(../img/fourth.jpg);
     background-position: bottom;
     @include modif-img-homepage;
}
// agencement footer contact 
 
 #footer {
     &__logo {
        background: url(../img/logo_white\ .svg);
        background-size: cover;
        width: 100%;
        height: 14px;
        margin-bottom: 20px;
     }
     &__div__img {
        width: 80px;
        height: 25px;
     }
    background: rgb(51, 51, 51);
    padding: 25px;
    &__texte {
        display: flex;
        flex-direction: column;
        gap: 7px;
        #ustensils, #hands {
            font-size: 12px;
        }
        &__contact {
            color: white;
        }
     }
    &__ustensils {
        margin: 0px 6px 0px 3px;
    }
    &__hands {
        margin-right: 3px;
    }
    & p {
        margin: 0px;
        color: white;
        font-size: 12px;
        font-weight: 500;
    }
}

// agencement des pages menu + texte + img  

#bouton__commander {
    padding: 15px;
    border-radius: 25px;
    background: $color-mix;
    margin: 50px 0px 80px 0px;
    width: 190px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px 14px -7px;
    &:hover {
        @include hover-btn;
    }
    &__texte {
        @include texte-btn-custom;
    }
}
#img1_globalmenu {
    background: url(../img/third.jpg);
    @include img-header-menus;
}
#img2_globalmenu {
    background: url(../img/first.jpg);
   @include img-header-menus;
}
#img3_globalmenu {
    background: url(../img/fourth.jpg);
    @include img-header-menus;
}
#img4_globalmenu {
    background: url(../img/second.jpg);
    @include img-header-menus;
}

#parent__menu {
    background: $bg;
    & h2 {
        @include border-bttm-title;
        padding: 25px 0px 6px 0px;
        border-bottom: 3px solid #99E2D0;
        width: 38px;
        margin-left: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
    & h3 {
        font-family: 'Roboto', sans-serif;
        padding: 15px 0px 10px 10px; 
        margin: 0px;
        font-size: 18px;
         // pour mettre trois points de suspension si c'est nécéssaire : 3 lignes CSS
        white-space: nowrap; /* interdiction de passer à la ligne */
        text-overflow: ellipsis; /* ajout des pointilles pour masquer le reste du texte */
        overflow: hidden;
    }
    display: flex; /*==== mise en place de l'animation pour  l'apparition des menus entrees + plats + desserts ===*/
    flex-direction: column;
    padding: 0 0vw;
    .parent__menu__E-P-D__Entrees {
        @include card_appear;
      }
      .parent__menu__E-P-D__Plats{
        @include card_appear;
        & .card {
          animation-delay: 500ms;
        }
      }
      .parent__menu__E-P-D__Desserts {
        @include card_appear;
        & .card {
          animation-delay: 1s;
        }
      }
  }


// mise en place du nouveau menu : entrees + plats + desserts 

// agencment restaurant name 
.restaurant {
    &__name {
      border-top-left-radius: 40px 40px;
      border-top-right-radius: 40px 40px;
      transform: translateY(-55px);
      margin-bottom: -70px;
      padding: 20px 35px 0px 20px;
      background-color: $bg;
      font-family: shrikhand, cursive;
      font-size: 13px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & h1 {
          font-weight: 300
      }
    }
  }
.card {
    @include cardstyle;
    margin: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 2000ms;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    &__text {
      display: flex;
      flex: 100%;
      white-space: nowrap; /* interdiction de passer à la ligne */
      flex-direction: column;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all $transitiontime;
      &__description {
        flex: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & p {
          margin: 7px 0px 0px 10px;
          overflow: hidden;
          white-space: nowrap; /* interdiction de passer à la ligne */
        }
        &__ingredients {
            font-size: 15px;
          text-overflow: ellipsis;
          font-weight: 300;
        }
        &__price {
          padding: 0px 10px 0px 0px;
          font-weight: bold;
        }
      }
    }
    // check animation in .card 
    &__check {
      flex: 0%;
      color: $bg;
      // height: 100%;
      background: $color-tertiary;
      font-size: large;
      text-align: center;
      // centrer verticalement sur une ligne:
      height: 4.2em; /* hauteur du parent */
      line-height: 4.4em; /* hauteur de ligne centré au milieu */
      white-space: nowrap; /* interdiction de passer à la ligne */
      border-top-right-radius: 15px 15px;
      border-bottom-right-radius: 15px 15px;
      transform: translateX(100px);
      cursor: pointer;
      transition: all $transitiontime;
    }
    &:hover > &__check {
      flex: 20%;
      transform: translateX(0px);
      background: $color-tertiary;
      cursor: pointer;
      color: $bg;
    }
    &:hover > &__text {
      flex: 85%;
    }
    &:hover .fa-check-circle {
      transform: rotate(0deg);
    }
  }
  // mise en place animation check validity sur le contenu des pages menus 
.fa-check-circle {
    transform: rotate(360deg);
    transition: transform $transitiontime;
  }
// responsive mobile 
@media screen and (max-width: 374px) {
    body {
        background: green;
    }
    .nouveau {
        font-size: 13.5px;
    }
    
    #container__logo {
        &__back__arrow {
            right: 55px;
        }
    }
    .restaurant {
        &__name {
            & h1 {
                font-size: 23px;
            }
        }
    }
    .heart {
        top: 2px;
    }
    
}


// debut de la partie responsive en version tablette
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #container3_parent {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 20px;
    }
    #container3 {
        height: 655px;
        &_parent {
            >.container3_enfants {
                width: 100%;
            }
        }
    }
    #parent__menu {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 60px;
        & h2 {
            font-size: 20px;
        }
    }
    .restaurant__name {
        & h1 {
            font-size: 30px;
        }
    }
    .fa-heart {
        font-size: 25px;
    }
    #bouton__commander {
        margin: 135px 0px 75px 0px;
        &__texte {
            font-size: 20px;
            font-weight: 900;
        }
    }
    
    #footer {
        &__div__img {
        width: 115px;
        height: 45px;
    }
        &__logo {
            width: 110%;
            height: 22px;
        }

    }
    #footer p {
        font-size: 16px;
    }
    .fa-arrow-left {
        font-size: 22px;
    }
    #container2_fonctionnement {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 20px;
    }
    #container2 {
        height: 200px;
    }
    #icon_mobile, 
    #icon_list, 
    #icon_store  {
        margin: 0px 5px 0px 0px;
    }
    .nav_fonctionnement {
        width: 100%;
        & p {
            font-weight: 500;
        }
    }
    #bouton {
        &__explorer {
            border-radius: 15px;
            width: 260px;
            padding: 20px;
            &__texte {
                font-weight: 900;
            }
        }
    }
    #img1_globalmenu,
    #img2_globalmenu,
    #img3_globalmenu,
    #img4_globalmenu {
        @include img-header-menus;
        height: 450px;
    }






}

// debut de la partie responsive en version desktop
@media screen and (min-width: 1025px) {
    
    #container3_parent {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 20px;
    }
    #container3 {
        height: 920px;
        &_parent {
            gap: 30px;
            >.container3_enfants {
                width: 100%;
            }
        }
        >#restau_title2 {
            margin-bottom: 30px;
        }
    }
    #restau_img1,
    #restau_img2,
    #restau_img3,
    #restau_img4 {
        height: 250px;
    }
    // modif dot dans la partie fonctionnement 
    #dot1, #dot2, #dot3 {
        position: relative;
        top: -13px;
        left: 285px;
    }
    .nav_fonctionnement {
        width: 600px;
        & p {
            font-size: 19px;
            font-weight: 300;
            margin-top: 24px;     
            margin-left: 130px;
        }
    }
    .dot {
        height: 30px;
        width: 30px;
    }
    #num_1, 
    #num_2,
    #num_3 {
        top: 0px;
        left: 8px;
        font-size: 25px;
    }

    #container2_title,
    #restau_title2,
    #faux_titre
     {
        font-size: 25px;
        text-align: center;
    }
    
    #saut_ligne {
        display: block;
    }

    #bouton {
        &__explorer {
            border-radius: 15px;
            width: 260px;
            padding: 20px;
            &__texte {
                font-weight: 900;
            }
        }
    }
    .restau_text p {
        font-size: 18px;
    }
    #footer {
        &__div__img {
        width: 115px;
        height: 45px;
    }
        &__logo {
            width: 110%;
            height: 22px;
        }

    }
    #footer p {
        font-size: 16px;
    }
    .fa-heart {
        font-size: 30px;
    }
    .nouveau {
        padding: 5px;
        font-size: 18px;
        height: 20px;
    }
    #parent__menu {
        display: grid;
        grid-template-columns: repeat(3,1fr);
     }
     #container2_fonctionnement {
         gap: 30px;
     }

     .parent__menu__E-P-D__Entrees,
      .parent__menu__E-P-D__Plats,
      .parent__menu__E-P-D__Desserts {
          width: 82%;
      }
      
      .fa-arrow-left {
        font-size: 22px;
    }

    #img1_globalmenu, 
    #img2_globalmenu, 
    #img3_globalmenu, 
    #img4_globalmenu {
        height: 450px;
    }
    
    #bouton {
        &__commander {
            margin: 65px 0px 75px 0px;
            &__texte {
                font-size: 20px;
                font-weight: 900;
            }
        }
    } 
    

}