@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap');
@import "responsive.scss";

/*============  ALL VARIABLE  =======*/
$bg: #f6f6f6; // page bg
$main_margin: 5vw; // sur toutes les pages
$transitiontime: 800ms; // sur la transition du check
$card_bg: white;
$shadow: lightgrey; // shadow btn
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-icon:gray;
$margin-modif: 0px 15px 0px 5px;
$color-mix: mix( $color-primary,$color-secondary,40%);
// ALL MIXIN 
@mixin texte-btn-custom {
    color: white;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
}
@mixin hover-btn {
    background: lighten($color: $color-mix, $amount: 3);
    box-shadow: 0px 2px 7px 0px;
}
@mixin num-modif {
    position: relative;
    top: 4px;
    left: 8px;
    color: white;
}
@mixin dot-modif {
    position: relative;
    top: 20px;
    left: -12px;
}
@mixin modif-img-homepage {
    background-size: cover;
    height: 170px;
    width: 325px;
    border-radius: 15px 15px 0px 0px;
}
@mixin text-new {
    position: relative;
    left: 225px;
    height: 15px;
    top: 15px;
    font-weight: 600;
    text-align: center;
    width: 70px;
    padding: 8px;
    color: darken($color: $color-tertiary, $amount: 40);
    background: adjust-hue($color: $color-tertiary, $degrees: -10);
    border-radius: 3px 3px 3px 3px;
}
@mixin href-modif {
    text-decoration: none;
    color: black;
    overflow: hidden;
    cursor: pointer;
}
@mixin border-bttm-title {
    padding: 25px 0px 6px 0px;
    border-bottom: 3px solid $color-tertiary;
    width: 65px;
    margin-left: 20px;
}
@mixin img-header-menus {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 275px;
    box-shadow: inset #00000040 0px 2px 5px 0px;
}
// mixin pour modifier les cards et creer les contours
@mixin cardstyle {
    background-color: $card_bg;
    box-shadow: 2px 2px 2px $shadow;
    border-radius: 15px 15px;
    height: fit-content;
  }
  // mixin pour faire apparaitre les menus
  @mixin card_appear {
    & .card {
      animation-name: appear;
      animation-duration: 1000ms;
      animation-fill-mode: backwards;
    }
    @keyframes appear {
      from {
        transform: translateY(-100px);
        opacity: 0;
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  
/*===========================*/
body, html {
    margin: 0px;
    padding: 0px;
}
p {
    font-family: 'Roboto', sans-serif;
}
a {
    @include href-modif;
}

/*============= agencement de la partie header contenant le logo =================*/

#container__logo {
    display: flex;
    justify-content: center;
    &__back__arrow {
        position: relative;
        top: 20px;
        right: 70px;
     }
     &__logo {
        width: 162px;
        &__img {
            background: url(../img/ohmyfood@2x.svg);
            background-size: cover;
            width: 100%;
            height: 28px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
}
/*=========== agencement localisation  =============*/
#container_localisation {
    display: flex;
    justify-content: center;
    background: #e4e2e2;
    box-shadow: inset 5px 18px 10px -22px;
}
/*============= agencement du bloc reservation =============*/
#bouton{
    display: flex;
    justify-content: center;
    >#bouton_explorer {
        padding: 15px;
        border-radius: 30px 30px 30px 30px;
        background: $color-mix;
        box-shadow: 0px 5px 14px -7px;
        border: none;
        width: 215px;
        cursor: pointer;
        &:hover {
            @include hover-btn;
        }
        >#texte_explorer {
           @include texte-btn-custom;
        }
    }
}
#container1 {
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    height: 280px;
    &_reservation {
        margin: 10px 30px 40px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            text-align: center;
        }
    }
}
#faux_titre {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: -10px;
}
/*========= agencement du bloc fonctionnement  ================*/
#container2 {
    height: 355px;
    &_title {
        padding: 30px 0px 0px 20px;
        font-size: 22px;
        font-weight: 600;
    }
    &_fonctionnement {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
.dot {
    height: 25px;
  width: 25px;
  background-color: $color-primary;
  border-radius: 50%;
  display: inline-block;
}
#dot1, #dot2, #dot3 {
    @include dot-modif;
}
#num_1, #num_2, #num_3 {
    @include num-modif;
}
#icon_mobile, #icon_list, #icon_store {
    margin: $margin-modif;
}
#icon_mobile i, #icon_list {
    color: $color-icon;
}
#icon_store {
    color:$color-primary;
}
.nav_fonctionnement {
    border-radius: 15px 15px 15px 15px;
    width: 325px;
    height: 65px;
    display: flex;
    background: #f2f2f2;
    border: none;
    box-shadow: 0px 7px 18px -14px;
    p {
        margin-top: 25px;
    }
}
//agencement bloc restauration + img + entrees
#container3 {
    background: #f2f2f2;
    height: 1200px;
    &_parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        >.container3_enfants {
            box-shadow:  0px 2px 11px -6px;
            border-radius: 15px 15px 15px 15px;
            background: white;
        }
    }
}

#restau_title2{
    padding: 50px 0px 0px 20px;
    font-size: 22px;
    font-weight: 600;
}
.restau_text {
    p {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px 0px 10px;
    }
    >.texte_gras2 {
        font-weight: 600;
        margin-bottom: -20px;
        >.restau_hearticon {
            font-size: 25px;
        }
    }
}
// heart icon modification

.fa-heart {
    font-size: 25px;
  }
  
  .heart {
    position: relative;
    top: 6px;
    z-index: 1;
    cursor: pointer;
    -webkit-text-stroke: 1px white;
  }
  
  .heart-color {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: $color-mix;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transition: .8s ease;
  }
  
  .heart:hover {
    .heart-color {
      transform: scale(1);
      opacity: 1;
    }
  
    background: $color-mix;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px white;
  }

/*=========================*/
.nouveau {
    @include text-new;
    p {
        margin: 0px;
    }
}
// agencement page d'accueil img 
#restau_img1 {
    background: url(../img/first.jpg);
    @include modif-img-homepage;
 }
 #restau_img2 {
    background: url(../img/second.jpg);
    background-position: center;
    @include modif-img-homepage;
 }
 #restau_img3 {
    background: url(../img/third.jpg);
    background-position: bottom;
    @include modif-img-homepage;
 }
#restau_img4 {
    background: url(../img/fourth.jpg);
     background-position: bottom;
     @include modif-img-homepage;
}
// agencement footer contact 
 #text_contact {
     color: white;
 }
 #footer {
     &__logo {
        background: url(../img/logo_white\ .svg);
        background-size: cover;
        width: 100%;
        height: 14px;
        margin-bottom: 20px;
     }
     &__div__img {
        width: 80px;
        height: 25px;
     }
    background: rgb(51, 51, 51);
    padding: 25px;
    &__texte {
        display: flex;
        flex-direction: column;
        gap: 7px;
        #ustensils, #hands {
            font-size: 12px;
        }
     }
    &__ustensils {
        margin: 0px 6px 0px 3px;
    }
    &__hands {
        margin-right: 3px;
    }
    & p {
        margin: 0px;
        color: white;
        font-size: 12px;
        font-weight: 500;
    }
}

// agencement des pages menu + texte + img  

#bouton_commander {
    padding: 15px;
    border-radius: 25px 25px 25px 25px;
    background: $color-mix;
    margin: 50px 0px 80px 0px;
    width: 190px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 5px 14px -7px;
    &:hover {
        @include hover-btn;
    }
    >#texte_commander {
        @include texte-btn-custom;
    }
}
#img1_globalmenu {
    background: url(../img/third.jpg);
    @include img-header-menus;
}
#img2_globalmenu {
    background: url(../img/first.jpg);
   @include img-header-menus;
}
#img3_globalmenu {
    background: url(../img/fourth.jpg);
    @include img-header-menus;
}
#img4_globalmenu {
    background: url(../img/second.jpg);
    @include img-header-menus;
}
// mise en place de l'animation pour  l'apparition des menus entrees + plats + desserts 
#parent__menu {
    & h3 {
        font-family: 'Roboto', sans-serif;
        padding: 15px 0px 10px 10px; 
        margin: 0px;
        font-size: 18px;
         // pour mettre trois points de suspension si c'est nécéssaire : 3 lignes CSS
        white-space: nowrap; /* interdiction de passer à la ligne */
        text-overflow: ellipsis; /* ajout des pointilles pour masquer le reste du texte */
        overflow: hidden;
    }
    display: flex;
    flex-direction: column;
    padding: 0 0vw;
    .parent__menu__E-P-D__Entrees {
        @include card_appear;
      }
      .parent__menu__E-P-D__Plats{
        @include card_appear;
        & .card {
          animation-delay: 500ms;
        }
      }
      .parent__menu__E-P-D__Desserts {
        @include card_appear;
        & .card {
          animation-delay: 1s;
        }
      }
  }


// mise en place du nouveau menu : entrees + plats + desserts 
#parent__menu {
    background: $bg;
    h2 {
        @include border-bttm-title;
        padding: 25px 0px 6px 0px;
        border-bottom: 3px solid #99E2D0;
        width: 38px;
        margin-left: 20px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: 400;
    }
}
// agencment restaurant name 
.restaurant {
    &__name {
      border-top-left-radius: 40px 40px;
      border-top-right-radius: 40px 40px;
      transform: translateY(-55px);
      margin-bottom: -70px;
      padding: 20px 35px 0px 20px;
      background-color: $bg;
      font-family: shrikhand, cursive;
      font-size: 13px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      h1 {
          font-weight: 300
      }
    }
  }
.card {
    @include cardstyle;
    margin: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 2000ms;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    &__text {
      display: flex;
      flex: 100%;
      white-space: nowrap; /* interdiction de passer à la ligne */
      flex-direction: column;
      text-overflow: ellipsis;
      overflow: hidden;
      transition: all $transitiontime;
      &__description {
        flex: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & p {
          margin: 7px 0px 0px 10px;
          overflow: hidden;
          white-space: nowrap; /* interdiction de passer à la ligne */
        }
        &__ingredients {
            font-size: 15px;
          text-overflow: ellipsis;
          font-weight: 300;
        }
        &__price {
          padding: 0px 10px 0px 0px;
          font-weight: bold;
        }
      }
    }
    // check animation in .card 
    &__check {
      flex: 0%;
      color: $bg;
      // height: 100%;
      background: $color-tertiary;
      font-size: large;
      text-align: center;
      // centrer verticalement sur une ligne:
      height: 4.2em; /* hauteur du parent */
      line-height: 4.4em; /* hauteur de ligne centré au milieu */
      white-space: nowrap; /* interdiction de passer à la ligne */
      border-top-right-radius: 15px 15px;
      border-bottom-right-radius: 15px 15px;
      transform: translateX(100px);
      cursor: pointer;
      transition: all $transitiontime;
    }
    &:hover > &__check {
      flex: 20%;
      transform: translateX(0px);
      background: $color-tertiary;
      cursor: pointer;
      color: $bg;
    }
    &:hover > &__text {
      flex: 85%;
    }
    &:hover .fa-check-circle {
      transform: rotate(0deg);
    }
  }
  // mise en place animation check validity sur le contenu des pages menus 
.fa-check-circle {
    transform: rotate(360deg);
    transition: transform $transitiontime;
  }
// debut de la partie responsive en version desktop 


// debut de la partie responsive en version tablette 