/*============  ALL VARIABLE  =======*/
$bg: #f6f6f6; // page bg
$main_margin: 5vw; // sur toutes les pages
$transitiontime: 800ms; // sur la transition du check
$card_bg: white;
$shadow: lightgrey; // shadow btn
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-icon:gray;
$margin-modif: 0px 15px 0px 5px;
$color-mix: mix( $color-primary,$color-secondary,40%);
$scrollLength : 313vh;