@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
/*============  ALL VARIABLE  =======*/
/*===========================*/
body, html {
  margin: 0px;
  padding: 0px;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  cursor: pointer;
}

/*============= agencement de la partie header contenant le logo =================*/
#logo {
  background: url(../img/ohmyfood@2x.svg);
  background-size: cover;
  width: 43%;
  height: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#container_logo {
  display: flex;
  justify-content: center;
}

/*=========== agencement localisation  =============*/
#container_localisation {
  display: flex;
  justify-content: center;
  background: #e4e2e2;
  box-shadow: inset 5px 18px 10px -22px;
}

/*============= agencement du bloc reservation =============*/
#bouton {
  display: flex;
  justify-content: center;
}
#bouton > #bouton_explorer {
  padding: 15px;
  border-radius: 30px 30px 30px 30px;
  background: #c466db;
  box-shadow: 0px 5px 14px -7px;
  border: none;
  width: 215px;
  cursor: pointer;
}
#bouton > #bouton_explorer:hover {
  background: #c972de;
  box-shadow: 0px 2px 7px 0px;
}
#bouton > #bouton_explorer > #texte_explorer {
  color: white;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

#container1 {
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  height: 280px;
}
#container1_reservation {
  margin: 10px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#container1_reservation p {
  text-align: center;
}

#faux_titre {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: -10px;
}

/*========= agencement du bloc fonctionnement  ================*/
#container2 {
  height: 355px;
}
#container2_title {
  padding: 30px 0px 0px 20px;
  font-size: 22px;
  font-weight: 600;
}
#container2_fonctionnement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  display: inline-block;
}

#dot1, #dot2, #dot3 {
  position: relative;
  top: 20px;
  left: -12px;
}

#num_1, #num_2, #num_3 {
  position: relative;
  top: 4px;
  left: 8px;
  color: white;
}

#icon_mobile, #icon_list, #icon_store {
  margin: 0px 15px 0px 5px;
}

#icon_mobile i, #icon_list {
  color: gray;
}

#icon_store {
  color: #9356DC;
}

.nav_fonctionnement {
  border-radius: 15px 15px 15px 15px;
  width: 325px;
  height: 65px;
  display: flex;
  background: #f2f2f2;
  border: none;
  box-shadow: 0px 7px 18px -14px;
}
.nav_fonctionnement p {
  margin-top: 25px;
}

#container3 {
  background: #f2f2f2;
  height: 1200px;
}
#container3_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#container3_parent > .container3_enfants {
  box-shadow: 0px 2px 11px -6px;
  border-radius: 15px 15px 15px 15px;
  background: white;
}

#restau_title2 {
  padding: 50px 0px 0px 20px;
  font-size: 22px;
  font-weight: 600;
}

.restau_text p {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 10px;
}
.restau_text > .texte_gras2 {
  font-weight: 600;
  margin-bottom: -20px;
}
.restau_text > .texte_gras2 > .restau_hearticon {
  font-size: 25px;
}

.fa-heart {
  font-size: 30px;
}

.heart {
  position: relative;
  top: 5px;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}

.heart-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.8s ease;
}

.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}
.heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}

/*=========================*/
.nouveau {
  position: relative;
  left: 225px;
  height: 15px;
  top: 15px;
  font-weight: 600;
  text-align: center;
  width: 70px;
  padding: 8px;
  color: #278870;
  background: #99e2c4;
  border-radius: 3px 3px 3px 3px;
}
.nouveau p {
  margin: 0px;
}

#restau_img1 {
  background: url(../img/first.jpg);
  background-size: cover;
  height: 170px;
  width: 325px;
  border-radius: 15px 15px 0px 0px;
}

#restau_img2 {
  background: url(../img/second.jpg);
  background-position: center;
  background-size: cover;
  height: 170px;
  width: 325px;
  border-radius: 15px 15px 0px 0px;
}

#restau_img3 {
  background: url(../img/third.jpg);
  background-position: bottom;
  background-size: cover;
  height: 170px;
  width: 325px;
  border-radius: 15px 15px 0px 0px;
}

#restau_img4 {
  background: url(../img/fourth.jpg);
  background-position: bottom;
  background-size: cover;
  height: 170px;
  width: 325px;
  border-radius: 15px 15px 0px 0px;
}

#text_contact {
  color: white;
}

#footer {
  background: #333333;
  padding: 25px;
}
#footer__logo {
  background: url(../img/logo_white\ .svg);
  background-size: cover;
  width: 25%;
  height: 14px;
  margin-bottom: 20px;
}
#footer > #texte__footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#footer > #texte__footer #ustensils, #footer > #texte__footer #hands {
  font-size: 12px;
}
#footer p {
  margin: 0px;
  color: white;
  font-size: 11px;
  font-weight: 600;
}

#ustensils {
  margin: 0px 6px 0px 3px;
}

#hands {
  margin-right: 3px;
}

#back_arrow {
  position: relative;
  top: 20px;
  right: 70px;
}

.contenu_menu {
  background: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 7px 18px -14px;
  padding: 0px 15Px 0px 10px;
}

.texte_description {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
  font-size: 15px;
}

.texte_gras {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: -10px;
}

.texte_description_price {
  font-weight: 600;
}

#container_globalmenu {
  background: #f2f2f2;
  position: relative;
  top: -70px;
  z-index: 100;
  margin-bottom: -70px;
  border-radius: 40px 40px 0px 0px;
}

#bloc_entree, #bloc_plat, #bloc_dessert {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#container_globalmenu h1 {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  font-size: 25px;
  padding: 35px 35px 0px 25px;
}

#globalmenu {
  margin: -30px 15px 0px 15px;
}

.mini_titreborder {
  border-bottom: #99E2D0 3px solid;
  padding: 0px 0px 5px 0px;
  width: 40px;
  margin: 45px 0px 0px 5px;
}

#bouton_commander {
  padding: 12px;
  border-radius: 25px 25px 25px 25px;
  background: #c466db;
  margin: 50px 0px 80px 0px;
  width: 165px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 5px 14px -7px;
}
#bouton_commander:hover {
  background: #c972de;
  box-shadow: 0px 2px 7px 0px;
}
#bouton_commander > #texte_commander {
  color: white;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

#img1_globalmenu {
  background: url(../img/third.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

#img2_globalmenu {
  background: url(../img/first.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

#img3_globalmenu {
  background: url(../img/fourth.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

#img4_globalmenu {
  background: url(../img/second.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}

#parent__menu {
  display: flex;
  flex-direction: column;
  padding: 0 0vw;
}
#parent__menu h3 {
  font-family: "Roboto", sans-serif;
  padding: 15px 0px 10px 10px;
  margin: 0px;
  font-size: larger;
  white-space: nowrap;
  /* interdiction de passer à la ligne */
  text-overflow: ellipsis;
  overflow: hidden;
}
#parent__menu p {
  margin-bottom: 5px;
}
#parent__menu .parent__menu__E-P-D__Entrees .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#parent__menu .parent__menu__E-P-D__Plats .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#parent__menu .parent__menu__E-P-D__Plats .card {
  animation-delay: 500ms;
}
#parent__menu .parent__menu__E-P-D__Desserts .card {
  animation-name: appear;
  animation-duration: 1000ms;
  animation-fill-mode: backwards;
}
@keyframes appear {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#parent__menu .parent__menu__E-P-D__Desserts .card {
  animation-delay: 1s;
}

#parent__menu {
  background: #f6f6f6;
}
#parent__menu h2 {
  padding: 25px 0px 6px 0px;
  border-bottom: 3px solid #99E2D0;
  width: 65px;
  margin-left: 20px;
}

.restaurant__name {
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  transform: translateY(-80px);
  margin-bottom: -100px;
  padding: 25px 25px 0px 20px;
  background-color: #f6f6f6;
  font-family: shrikhand, cursive;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurant__name h1 {
  font-weight: 300;
}

.card {
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 15px 15px;
  height: fit-content;
  margin: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 2000ms;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__text {
  display: flex;
  flex: 100%;
  white-space: nowrap;
  /* interdiction de passer à la ligne */
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 700ms;
}
.card__text__description {
  flex: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__text__description p {
  margin: 5px 0px 0px 10px;
  overflow: hidden;
  white-space: nowrap;
  /* interdiction de passer à la ligne */
}
.card__text__description__ingredients {
  font-size: 15px;
  text-overflow: ellipsis;
  font-weight: 300;
}
.card__text__description__price {
  padding: 0px 10px 0px 0px;
  font-weight: bold;
}
.card__check {
  flex: 0%;
  color: #f6f6f6;
  background: #99E2D0;
  font-size: large;
  text-align: center;
  height: 4.2em;
  /* hauteur du parent */
  line-height: 4.4em;
  /* hauteur de ligne centré au milieu */
  white-space: nowrap;
  /* interdiction de passer à la ligne */
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
  transform: translateX(100px);
  cursor: pointer;
  transition: all 700ms;
}
.card:hover > .card__check {
  flex: 20%;
  transform: translateX(0px);
  background: #99E2D0;
  cursor: pointer;
  color: #f6f6f6;
}
.card:hover > .card__text {
  flex: 85%;
}
.card:hover .fa-check-circle {
  transform: rotate(0deg);
}

.fa-check-circle {
  transform: rotate(360deg);
  transition: transform 700ms;
}

/*# sourceMappingURL=style.css.map */
